<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Sistema de Aluguel de Carros</title>

    <!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
            </th:block> /*/-->

    <script type="text/javascript">
	$(function() {
		$("#nomeDepartamento").autocomplete({
			source: "automovelNomeAutoComplete",
			minLength: 3,
			select: function(event, ui) {
				this.value = ui.item.label;
				$("#idDepartamento").val(ui.item.value);
				return false;
			}
		});
	});
</script>

</head>
<body>
<header th:insert="fragments/geral.html :: header"> </header>

<div class="container my-2">
    <h2>Alterar Papel do Usuário</h2>
    <form action="#" th:action="@{/pedidos/salvar}" th:object="${pedido}" method="POST">
        <input type="hidden" id="id" th:field="*{id}">

        <span th:if="${#fields.hasErrors('automovel')}" th:errors="*{automovel}" class="text-danger"></span>
            <input id="nomeAutomovel" type="text" th:field="*{nomeAutomovel}" placeholder="Automovel" class="form-control mb-4 col-4">
        <input id="idAutomovel" type="hidden" th:field="*{automovel}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Salvar</button>
    </form>
    <hr>
    <a th:href="@{/pedidos}">Voltar para a lista de pedidos</a>
</div>
</body>
</html>